body {
    font-family: Arial;
    font-size: 16px;
    color: #fff;
    background-color: #c1c8e4;
  }

  button {
    background: #5667e8;
    color: #fff;
    margin: 5px;
    border: none;
    padding: 4px 11px;
    border-radius 3px;
    cursor: pointer;
  }
 button:hover{
   animation: fade in;
   box-shadow:0px 3px 10px rgba(0,0,0,0.2);
 }

  label {
    font-weight: bold;
  }

  input {
    cursor:pointer;
  }

.container {
  position: absolute;
  display: block;
  left: 50%;
}